@import '_vars';
@import 'modules/panel1';
@import 'modules/panel2';
@import 'modules/panel3';

body {
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    display: flex;
}
