<div class="container panel1">
  <h1 id="title">How much <br><span>sugar</span><br> is in there?</h1>
</div>

<div class="container panel2">
  
</div>

<div class="container panel3">
  <h2>Did you know?</h2>
  <h3></h3>
</div>


